body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f2f5f7;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

h1 {
  text-align: center;
  color: #0b41d6;
  margin-bottom: 20px;
  font-size: 24px;
}

.description {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #0860e4;
  color: white;
}

button[type="reset"] {
  background-color: #ccc;
  color: #333;
}
.navbar {
  background-color: #17748b;
  padding: 30px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #cceef5;
}
.footer {
  background-color: #1c67ca;
  color: white;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer-content {
  display: flex;
  flex-direction: row-reverse; /* لأن الصفحة RTL */
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.footer-logo img {
  width: 170px;
  height: auto;
}

.footer-description {
  max-width: 600px;
  font-size: 15px;
  color: #fff;
  line-height: 1.8;
  text-align: right;
}


.footer-logo p {
  font-size: 50px;
  margin: 0;
}

.footer-links {
  flex: 2 1 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #cceef5;
  padding-bottom: 5px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
.result-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.result-table th,
.result-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: right;
  font-size: 15px;
}

.result-table th {
  background-color: #0c5b8f;
  color: white;
  font-weight: bold;
}